.whole-store-page {
  margin: 15px;
}

.store-children {
  width: 50%;
  float: left;
  padding: 10px;
}

.shopping-cart {
  width: 30%;
  float: right;
  margin-right: 240px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #555555;
}

.float-container {
  padding: 10px;
  top: 30px;
}

.float-child {
  width: 100px;
  float: left;
  padding: 5px;
  font-weight: bold;
  border-bottom: 3px solid black;
}
