.float-container {
  border: 3px solid #fff;
  padding: 10px;
  top: 30px;
}

.float-child {
  width: 100px;
  float: left;
  padding: 5px;
}

.remove-button {
  background-color: indianred;
  color: white;
  border-radius: 8px;
  padding: 6px;
  margin: 10px;
}

.remove-button:hover {
  background-color: #555555;
  color: white;
  border: 2px solid #555555;
}
