<div style="background-image: url('/assets/images/ice-cream-bg.jpeg')"
     class="cover-container d-flex p-3 mx-auto flex-column">
  <main>
    <h1>Ice Cream Store Product Ordering Site</h1>
    <p>
      Check inventory status, add new products to store, and keep tabs on orders, in this one convenient location.
    </p>
    <p>
      <a routerLink="/ice-cream-store" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Order Now</a>
    </p>
  </main>
  <footer class="text-white">
    <p>
      This app was made by <a href="https://www.linkedin.com/in/kam-lauscher" class="kam-link">Kam</a>.
    </p>
  </footer>
</div>
