<div class="cover-container d-flex p-3 mx-auto flex-column">
  <main>
      <h1>Ice Cream Store Product Ordering Site</h1>
      <p>Check inventory status, add new products to store, and keep tabs on orders, in this one convenient location. </p>
      <p>
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
  </main>
  <footer class="text-white-50">
    <p>This website was made by <a href="https://twitter.com/mdo" class="text-white">Kam</a>.</p>
  </footer>
</div>
