.background-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-contents {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
  font-size: 80px;
  border: 5px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 600px;
}

h1 {
  padding: 10px;
  font-family: 'IM Fell Double Pica SC';
}

p {
  padding: 15px;
  font-size: large;
  font-family: 'Kantumruy';
}

.kam-link {
  color: black;
}

.kam-link:hover {
  color: white;
}
