.cover-container {
  min-height: 100%;
  width: 100%;
  color: white;
  background-color: dimgrey;
  background-size: 100% 100%;
  text-align: center;
  padding: 20px;
}

h1 {
  padding: 10px;
}

p {
  padding: 15px;
  font-size: large;
}

.kam-link {
  color: gray;
}

.kam-link:hover {
  color: black;
}
